// Sizes
$minWidth: 275px;
$maxWidth: 1440px;

// Screen Size 
$screenSize: 850px;

// Colors
$clr-primary-100: hsl(322, 100%, 66%);

$clr-neutral-100: hsl(193, 100%, 96%);
$clr-neutral-200: hsl(192, 100%, 9%);
$clr-neutral-300: hsl(208, 11%, 55%);
$clr-neutral-400: hsl(0, 0%, 100%);
$clr-neutral-500: rgb(234, 230, 230);

// Font Size
$fs-100: 1rem;

// Font Familys
$ff-100: "Poppins", sans-serif;
$ff-200: "Open Sans", sans-serif;

// Font Weights
$fw-50: 200;
$fw-100: 400;
$fw-200: 600;
$fw-300: 700;